<table class="w-full rounded-md ring-1 ring-gray-200 overflow-hidden" mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="title">
    <th class="bg-gray-200 uppercase" mat-header-cell *matHeaderCellDef>Blog Title</th>
    <td mat-cell *matCellDef="let row">
      <span class="flex gap-2 items-center py-2">
        <img [src]="row.image" alt="row.name" class="w-12 h-12 rounded-md" />
        <span>{{ row.title }}</span>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th class="bg-gray-200 uppercase" mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" class="text-right">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit(row)">Edit</button>
        <button mat-menu-item class="text-red-500" (click)="onDelete(row)">
          Delete
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColoumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColoumns"></tr>
</table>

<button mat-fab class="fixed bottom-4 right-4 bg-green-500" (click)="isOpen = !isOpen" cdkOverlayOrigin
  #trigger="cdkOverlayOrigin">
  <mat-icon>add</mat-icon>
</button>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="resetVariables()"
  [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen" [cdkConnectedOverlayOffsetX]="-80"
  [cdkConnectedOverlayOffsetY]="48">
  <div class="bg-white w-auto px-6 py-8 rounded-md shadow-md" role="dialog">
    <div class="flex space-x-4 items-center">
      <mat-icon inline class="h-12 text-5xl">rss_feed</mat-icon>
      <p class="font-bold text-2xl m-0">
        {{ isEditing ? "Update" : "Add" }} Blog
      </p>
    </div>
    <form [formGroup]=" blogForm" class="relative mt-4 flex gap-6 items-stretch overflow-y-auto" (submit)="onSubmit()">
      <div class="w-full flex relative flex-col gap-4 items-stretch">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Blog Title" name="name" formControlName="title" />
        </mat-form-field>

        <div class="my-1">
          <mat-label class="text-sm font-medium text-gray-900 block mb-2">
            Image
          </mat-label>
          <input
            class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 focus:outline-none focus:border-transparent text-sm rounded-lg"
            type="file" accept="image/*" formControlName="image" (change)="onFileChange($event)" />
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Paragraph 1</mat-label>
          <input matInput placeholder="Paragraph 1" formControlName="para1" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Paragraph 2</mat-label>
          <input matInput placeholder="Paragraph 2" formControlName="para2" (keydown)="onKeydown($event)" />
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]=" blogForm.invalid" color="primary"
          class="self-center w-1/2 rounded-full">
          {{ isEditing ? "Update" : "Create" }}
        </button>
      </div>

    </form>
  </div>
</ng-template>
