<table class="w-full rounded-md ring-1 overflow-hidden" mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="sl">
    <th mat-header-cell *matHeaderCellDef>Sl.</th>
    <td mat-cell *matCellDef="let row;let ndx=index">
      <span class="flex gap-2 items-center py-2">
        <!-- <img [src]="row.pdt_img" alt="row.name" class="w-12 h-12 rounded-md" /> -->
        <span>{{ ndx+1 }}</span>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let row">
      <span class="flex gap-2 items-center py-2">
        <!-- <img [src]="row.pdt_img" alt="row.name" class="w-12 h-12 rounded-md" /> -->
        <span>{{ row.name }}</span>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let row">{{ row.email}}</td>
  </ng-container>

  <ng-container matColumnDef="mobile">
    <th mat-header-cell *matHeaderCellDef>Mobile</th>
    <td mat-cell *matCellDef="let row">{{ row.mobile_no }}</td>
  </ng-container>

  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef>User Type</th>
    <td mat-cell *matCellDef="let row">{{ row.user_designation }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" class="text-right">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item (click)="onEdit(row)">Edit</button>
        <button mat-menu-item class="text-red-500" (click)="onDelete(row)">
          Delete
        </button> -->
        <button mat-menu-item (click)="onEdit(row)">Edit</button>
        <button mat-menu-item class="text-red-500" (click)="onDelete(row)">
          Delete
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColoumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColoumns"></tr>
</table>

<button mat-fab class="fixed bottom-4 right-4 bg-green-500" (click)="isOpen = !isOpen" cdkOverlayOrigin
  #trigger="cdkOverlayOrigin">
  <mat-icon>add</mat-icon>
</button>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="resetVariables()"
  [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen" [cdkConnectedOverlayOffsetX]="-80"
  [cdkConnectedOverlayOffsetY]="48">
  <div class="bg-white w-auto px-6 py-8 rounded-md shadow-md" role="dialog">
    <div class="flex space-x-4 items-center">
      <mat-icon inline class="h-12 text-5xl">account_circle</mat-icon>
      <p class="font-bold text-2xl m-0">
        {{ isEditing ? "Update" : "Add" }} Users
      </p>
    </div>

    <form [formGroup]="userForm" class="relative mt-4 flex gap-6 items-stretch overflow-y-auto" (submit)="onSubmit()">
      <div class="w-full flex relative flex-col gap-4 items-stretch">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input matInput formControlName="mobile_no" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>password</mat-label>
          <input matInput formControlName="password" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address 1</mat-label>
          <input matInput formControlName="addr_line1" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address 3</mat-label>
          <input matInput formControlName="addr_line3" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>District</mat-label>
          <mat-select placeholder="Select District" formControlName="district">
            <mat-option *ngFor="let district of districts$ | async" [value]="district.id">
              {{district.district}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="w-full relative flex flex-col gap-2 items-stretch">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Designation</mat-label>
          <mat-select placeholder="Category" formControlName="desig_id">
            <mat-option *ngFor="let designation of designations$ | async" [value]="designation.id">
              {{designation.designation}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Address 2</mat-label>
          <input matInput formControlName="addr_line2" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Pin code</mat-label>
          <input matInput formControlName="pincode" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select placeholder="Category" formControlName="state">
            <mat-option *ngFor="let state of states$ | async" [value]="state.id">
              {{state.state}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="userForm.invalid" color="primary"
          class="self-center w-1/2 rounded-full">
          {{ isEditing ? "Update" : "Create" }}
        </button>
      </div>
    </form>
  </div>
</ng-template>
